body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-orange {
  color: #F64927 !important;
}

.btn-orange {
  color: #fff !important;
  background-color: #F64927 !important;
  border-color: #F64927 !important;
}

.bg-orange {
  background-color: #F64927 !important;
}

.dropdown-menu a:active {
  background-color: #F64927 !important;
}